@font-face {
    font-family: 'Squada One';
    src: url('/fonts/SquadaOne.ttf') format('truetype');
}
* {
  box-sizing: border-box;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
html {
  font-size: 62.5%;
  min-height: 100%;
}